.img-rocket{
    width: 100%;
    height: 100%;
    object-fit: cover;  
    padding-right: 20px;  
}

.txt{
    text-align: center;
    font-size: 1.5rem;
}

label{
    /*Put the label aligned to the left*/
    text-align: left;
    
}

.btn-login{
    background-color: #134075;
    color: white;
    width: 100%;
}

.btn-login:hover{
    background-color: #0c2444;
    color: white;
}

.btn-normal{
    background-color: #134075;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-normal:hover{
    background-color: #0c2444;
    color: white;
}

.info{
    padding: 10%;
}