.container-login{
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.img-container{
    width: 50%;
    display: flex;
    justify-content: center;

}

.img-rocket{
    width: 716px;
    height: 824px;
    object-fit: cover;  
    padding-right: 20px;  
}

.txt{
    /* text-align: center; */
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 56px;
}

label{
    /*Put the label aligned to the left*/
    text-align: left;
    
}

.btn-login{
    background-color: #8AA7C2;
    color: white;
    width: 100%;
    font-weight: bold;
}

.btn-login:hover{
    background-color: #0C2444;
    color: white;
}

.btn-normal{
    background-color: #134075;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-normal:hover{
    background-color: #0C2444;
    color: white;
}

.info{
    padding: 10%;
    width: 40%;
    
}

.btn-sign-up{
    background-color: #8AA7C2;
    font-weight: bold;
}

.btn-sign-up:hover{
    background-color: #0C2444;
    color: white;
}

.input{
    margin-bottom: 56px;
}