.barra{
    background-color: #134075;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* Navigation.css */
.navbar {
    margin-bottom: 50%;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    margin-right: 10px;
}

.navbar-nav .dropdown-menu {
    background-color: #343a40; /* Same as bg-dark */
}
